@font-face {
    font-family: "ChargerExtraBold";
    src: url("./fonts/charger-fonts/ChargerExtrabold-4qG9.otf");
}

.brandTitle {
    font-family: "ChargerExtraBold";
    color: #001C30;
    font-size: 40px;
}

body {
    font-family:
        system-ui,
        -apple-system,
        "Segoe UI",
        Roboto,
        Helvetica,
        Arial,
        sans-serif;
}