.linkContentContainer {
    display: flex;
    width: 25%;
    min-width: fit-content;
    max-width: 400px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12px;
    background-color: white;
    border-radius: 15px;
    max-height: 800px;
    padding: 25px;
}