.fileUpload {

    width: 100%;
    height: 100px;

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
    transition: all 0.2s ease;
    position: relative;
}

.postFileUpload {
    border: 2px solid #ccc;
    border-radius: 10px;
    background-color: #fafafa;
}

.postFileUpload:hover {
    background-color: #942b2b;
}

.preFileUpload {
    border: 2px dashed #ccc;
    border-radius: 10px;
    background-color: #fafafa;
}

.preFileUpload:hover {
    background-color: #f3f3f3e3;
}

.fileUpload input[type="file"] {
    display: none;
}

.uploadButtonInactive {
    background-color: #eee;
    color: #666;
    cursor: not-allowed;
}

.uploadButtonInactive:hover {
    background-color: #eee;
    color: #666;
}